@tailwind base;
@tailwind components;

:root {
  --sh-class: #2d5e9d;
  --sh-identifier: #354150;
  --sh-sign: #354150;
  --sh-property: #0550ae;
  --sh-entity: #2d5e9d;
  --sh-jsxliterals: #6266d1;
  --sh-string: #2d9a4e;
  --sh-keyword: #d73a49;
  --sh-comment: #a19595;
}


body {
  min-height: 100vh;
  background-image: linear-gradient(
    65deg,
    hsl(284deg 85% 97%) 0%,
    hsl(263deg 87% 98%) 6%,
    hsl(245deg 79% 98%) 12%,
    hsl(230deg 68% 97%) 18%,
    hsl(220deg 56% 97%) 25%,
    hsl(212deg 44% 96%) 32%,
    hsl(210deg 43% 96%) 39%,
    hsl(210deg 45% 95%) 47%,
    hsl(209deg 48% 94%) 55%,
    hsl(209deg 49% 93%) 62%,
    hsl(209deg 50% 92%) 70%,
    hsl(211deg 53% 92%) 77%,
    hsl(220deg 59% 94%) 83%,
    hsl(232deg 63% 95%) 89%,
    hsl(252deg 68% 96%) 94%,
    hsl(274deg 70% 96%) 97%,
    hsl(300deg 67% 96%) 100%
  );

}

:is(.dark) :where(body) {
  @apply bg-slate-900 bg-none;
}

@import "./utils.scss";
